.projects-base {
    @apply
    text-[#FCFCFC]
    bg-[#131313] 
    font-barlow
    overflow-hidden
}

.project-main {
    @apply
    text-center
    text-[35px]
    tracking-wide
    font-bold
    mt-[125px]
}

.carousel-container {
    @apply
    absolute
    top-[550px]
    w-full
    left-0
    right-0
    bottom-0
}

.carousel {
    @apply
    w-full
    h-full
    relative
}

.card {
    @apply
    absolute
    top-[-200px]
    right-0
    bottom-0
    left-0
    mx-auto
    w-[800px]
    h-[450px]
    object-cover
    opacity-0
}

.card--active {
    opacity: 1;
    transform: scale(1);
    z-index: 99;
}

.card--left {
    transform: translateX(-340px) scale(0.6);
    transition: 1000ms;
    opacity: 0.3;
}

.card--right {
    transform: translateX(340px) scale(0.6);
    transition: 1000ms;
    opacity: 0.3;
}

.mobile-projects-title {
    @apply
    mt-[80px]
    text-center
}